{% extends 'components/base/001-base.html' %}

{% load static %}

{% block css %}
  <style type="text/css">
    .green { color: green; }
    .red { color: red; }

    /* .process-area {
      background-color: #f5f5f5;
    } */

    /* #process-form {
      padding-top: 25px;
      padding-bottom: 10px;
    } */

    #process-success {
      background-color: green;
      color: white;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    #process-fail {
      background-color: red;
      color: white;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  </style>
{% endblock %}

{% block content %}
  {% if message %}
  <div id="{% if errors %}process-fail{% else %}process-success{% endif %}">
    <div class="container">{{ message }}</div>
  </div>
  {% endif %}

  <div class="container mt-4">
    <h3 class="text-center mt-5 mb-5">Change Password</h3>

    <div class="row">
      <div class="col-12 col-lg-3"></div>
      <div class="col-12 col-lg-6">
        <form id="change-password-form" method="post" class="mb-4">
          <!-- {% if error_message %}
          <div class="alert alert-danger" role="alert">
            {{ error_message }}
          </div>
          {% endif %} -->

          {% csrf_token %}
          <div class="mb-3">
            <label class="form-label" for="old_password"><strong>Old Password</strong></label>
            <input type="password" class="form-control" name="old_password" id="old-password" aria-describedby="emailHelp">
            {% if errors.old_password %}
              <small class="red">{{ errors.old_password }}</small>
            {% endif %}
          </div>

          <div class="mb-4">
            <label class="form-label" for="password"><strong>New Password</strong></label>
            <input type="password" class="form-control" name="password" id="new-password">
            <small>Minimum 8 characters</small>
            {% if errors.password %}
              <small class="red">{{ errors.password }}</small>
            {% endif %}
          </div>

          <div class="mb-4">
            <label class="form-label" for="confirm_password"><strong>Password Confirmation</strong></label>
            <input type="password" class="form-control" name="confirm_password" id="confirm-password">
            {% if errors.confirm_password %}
              <small class="red">{{ errors.confirm_password }}</small>
            {% endif %}
          </div>

          <div class="d-grid">
            <button type="submit" class="btn btn-primary btn-dark">Change password</button>
          </div>
        </form>
      </div>
      <div class="col-12 col-lg-3"></div>
    </div>
  </div>
{% endblock %}
